
/build/reports/tests/
/target/
/target/allure-results/
/target/allure-results/1ae2412e-e880-4860-ac7a-f2d01191f9c3-container.json
/target/allure-results/3fc26e8f-d689-45b5-b94d-c5a4f6d00f52-container.json
/target/allure-results/39c37969-7b22-48bd-9e03-34cadde27d54-result.json
/target/allure-results/74a87128-9b83-43dd-b32a-edfb8da0a1c7-result.json
/target/allure-results/143a9507-ddb3-48dc-983f-b5de37469dc0-result.json
/target/allure-results/375b9abc-3114-4d9a-9ae6-6cd445793de7-container.json
/target/allure-results/746d5772-d54c-4634-b02d-c855791dd7c1-container.json
/target/allure-results/761b7ab7-64cc-4412-944d-cb16617d50d8-container.json
/target/allure-results/3325f3fe-5fac-4049-8038-cca8c2d58b5c-container.json
/target/allure-results/11086a64-8e3f-42fa-88a3-bbac1fd37f13-result.json
/target/allure-results/allure.properties
/target/allure-results/b3b25d4b-4dfb-4e9b-bd73-2a3e4e7fafe7-container.json
/target/allure-results/e53691e4-a629-4e63-9559-c25787cfd3be-result.json
/target/allure-results/executor.json
/target/allure-results/f46d3bbc-adb0-4624-965c-706b02d0d7ab-container.json
/target/classes/
/target/classes/common/
/target/classes/common/CommonActions.class
/target/classes/common/Config.class
/target/classes/constants/
/target/classes/constants/Constant.class
/target/classes/pages/
/target/classes/pages/auto/
/target/classes/pages/auto/osago/
/target/classes/pages/auto/osago/OsagoPage.class
/target/classes/pages/base/
/target/classes/pages/base/BasePage.class
/target/classes/chromedriver
/target/classes/chromedriver.exe
/target/classes/geckodriver.exe
/target/generated-sources/
/target/generated-sources/annotations/
/target/generated-test-sources/
/target/generated-test-sources/test-annotations/
/target/maven-status/
/target/maven-status/maven-compiler-plugin/
/target/maven-status/maven-compiler-plugin/compile/
/target/maven-status/maven-compiler-plugin/compile/default-compile/
/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/target/maven-status/maven-compiler-plugin/testCompile/
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/target/site/
/target/site/allure-maven-plugin/
/target/site/allure-maven-plugin/data/
/target/site/allure-maven-plugin/data/attachments/
/target/site/allure-maven-plugin/data/test-cases/
/target/site/allure-maven-plugin/data/test-cases/3aeb3e000eb423f0.json
/target/site/allure-maven-plugin/data/test-cases/3f0481d7ee61aa2.json
/target/site/allure-maven-plugin/data/test-cases/5c23aee04632a1b9.json
/target/site/allure-maven-plugin/data/test-cases/129e55a78330b851.json
/target/site/allure-maven-plugin/data/test-cases/ce9514b1e6351019.json
/target/site/allure-maven-plugin/data/behaviors.csv
/target/site/allure-maven-plugin/data/behaviors.json
/target/site/allure-maven-plugin/data/categories.csv
/target/site/allure-maven-plugin/data/categories.json
/target/site/allure-maven-plugin/data/packages.json
/target/site/allure-maven-plugin/data/suites.csv
/target/site/allure-maven-plugin/data/suites.json
/target/site/allure-maven-plugin/data/timeline.json
/target/site/allure-maven-plugin/export/
/target/site/allure-maven-plugin/export/influxDbData.txt
/target/site/allure-maven-plugin/export/mail.html
/target/site/allure-maven-plugin/export/prometheusData.txt
/target/site/allure-maven-plugin/history/
/target/site/allure-maven-plugin/history/categories-trend.json
/target/site/allure-maven-plugin/history/duration-trend.json
/target/site/allure-maven-plugin/history/history.json
/target/site/allure-maven-plugin/history/history-trend.json
/target/site/allure-maven-plugin/history/retry-trend.json
/target/site/allure-maven-plugin/plugins/
/target/site/allure-maven-plugin/plugins/behaviors/
/target/site/allure-maven-plugin/plugins/behaviors/index.js
/target/site/allure-maven-plugin/plugins/junit/
/target/site/allure-maven-plugin/plugins/packages/
/target/site/allure-maven-plugin/plugins/packages/index.js
/target/site/allure-maven-plugin/plugins/screen-diff/
/target/site/allure-maven-plugin/plugins/screen-diff/index.js
/target/site/allure-maven-plugin/plugins/screen-diff/styles.css
/target/site/allure-maven-plugin/plugins/trx/
/target/site/allure-maven-plugin/plugins/xctest/
/target/site/allure-maven-plugin/plugins/xunit-xml/
/target/site/allure-maven-plugin/widgets/
/target/site/allure-maven-plugin/widgets/behaviors.json
/target/site/allure-maven-plugin/widgets/categories.json
/target/site/allure-maven-plugin/widgets/categories-trend.json
/target/site/allure-maven-plugin/widgets/duration.json
/target/site/allure-maven-plugin/widgets/duration-trend.json
/target/site/allure-maven-plugin/widgets/environment.json
/target/site/allure-maven-plugin/widgets/executors.json
/target/site/allure-maven-plugin/widgets/history-trend.json
/target/site/allure-maven-plugin/widgets/launch.json
/target/site/allure-maven-plugin/widgets/retry-trend.json
/target/site/allure-maven-plugin/widgets/severity.json
/target/site/allure-maven-plugin/widgets/status-chart.json
/target/site/allure-maven-plugin/widgets/suites.json
/target/site/allure-maven-plugin/widgets/summary.json
/target/site/allure-maven-plugin/allure-maven.html
/target/site/allure-maven-plugin/app.js
/target/site/allure-maven-plugin/favicon.ico
/target/site/allure-maven-plugin/index.html
/target/site/allure-maven-plugin/styles.css
/target/surefire-reports/
/target/surefire-reports/2020-12-02T05-44-44_065.dumpstream
/target/surefire-reports/TEST-tests.auto.osago.negative.OsagoPageCheckCalkNegativeTest.xml
/target/surefire-reports/TEST-tests.auto.osago.positive.OsagoPageCheckCalkPositiveTest.xml
/target/surefire-reports/TEST-tests.auto.osago.positive.OsagoPageCheckRedirectToAuthPositiveTest.xml
/target/surefire-reports/tests.auto.osago.negative.OsagoPageCheckCalkNegativeTest.txt
/target/surefire-reports/tests.auto.osago.positive.OsagoPageCheckCalkPositiveTest.txt
/target/surefire-reports/tests.auto.osago.positive.OsagoPageCheckRedirectToAuthPositiveTest.txt
/target/test-classes/
/target/test-classes/tests/
/target/test-classes/tests/auto/
/target/test-classes/tests/auto/osago/
/target/test-classes/tests/auto/osago/negative/
/target/test-classes/tests/auto/osago/negative/OsagoPageCheckCalkNegativeTest.class
/target/test-classes/tests/auto/osago/positive/
/target/test-classes/tests/auto/osago/positive/OsagoPageCheckCalkPositiveTest.class
/target/test-classes/tests/auto/osago/positive/OsagoPageCheckRedirectToAuthPositiveTest.class
/target/test-classes/tests/base/
/target/test-classes/tests/base/BaseTest.class
/target/test-classes/tests/base/Listener.class
/target/test-classes/junit-platform.properties
